<html>
    <head>
        <title>Welcome to Django Pizza!</title>
    </head>
    <body>
        <h1> Django Pizza Place </h1>
        <ul>
            {% for pizza in pizzas %}
                <li>
                {% if pizza.picture %}
                    <img src="{{pizza.picture.url}}" width='100x'>
                {% endif %}
                    <h2>{{pizza.flavor}} - R${{pizza.price}}</h2>
                    <p> {{pizza.ingredients}}</p>
                </li>
            {% empty %}
                <h2> ohh, no pizzas =( </h2>
            {% endfor %}
        </ul>

    </body>
</html>
